body{
    background-color: rgb(45, 45, 82);
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.form-control{
    max-width: 500px;
}
.orderContainer{
    margin: 0 auto; 
    margin-top: 20px;
    width: 150px;
    height: 100px;
}
.list-group{
    list-style: decimal inside;
}
.list-group-item{
   display: list-item;
   height: 40px;
}